.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container-div {
    margin: 10px;
    width: 200px;
    border: solid black 1px;
  }