.flex-manipulator-app {
    background-color: #282c34;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
  }